@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  height: 100%;
  margin: 0;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#__next {
  display: flex;
  flex-direction: column;
  flex: 1;
}

main {
  flex: 1;
}

footer {
  background: #111;
  color: white;
  padding: 10px 20px;
  text-align: center;
  margin-top: auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
